@charset "utf-8";
//底部最外盒子
#footer_container{
    overflow:hidden;
    margin-top:0;
    border-top:3px solid #BC0000;
    background:#fff;
}
//底部二层盒子
.footer_top{
        background: white;
        
    }
//底部居中盒子
#footer_links{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: 210px;
    .linksa_png{
        width: 211px;
        height: 143px;
        line-height: 20px;
        padding-left: 16px;
        float: left;
        zoom: 1;
        overflow: hidden;
        margin-top: 20px;
//底部logo图片
        img{
             border: none;
        }
} 
}
//图片右侧信息栏UL
.linksb{
    margin-left: 30px;
    width: 116px;
    height: 143px;
    line-height: 20px;
    padding-left: 16px;
    float: left;
    zoom: 1;
    overflow: hidden;
    margin-top: 20px;
//图片右侧信息栏li
    .links{
        font-size: 14px;
        color: #000;
        height: 30px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 8px;
        border-bottom: 1px dotted #d4d4d4;
        overflow: hidden;
        padding-left: 5px;
//图片右侧信息栏a
        .link{
            height: 20px;
            line-height: 24px;
            color: #666;
            padding-left: 14px;
            display: block;
        }
    }
}
.linkli{
    font-size: 12px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    .linka{
        height: 20px;
        line-height: 24px;
        color: #666;
        padding-left: 14px;
        display: block;
    }
}

#footer_credit{
    width: 1200px;
    position: relative;
    padding: 15px 0;
    height: 100px;
    overflow: visible;
    font: 12px/1.5 Arial;
    font-style: normal;
    margin: 0 auto;
}
#footer_credit a{
    width: 150px;
    height: 100px;
    color: #999;
    text-align: center;
    display: block;
    float: left;
    overflow: hidden;
    .con {
        font: 18px/24px Microsoft YaHei;
        color: #333;
        height: 24px;
        overflow: hidden;
        display: block;
        b{
            font-weight: normal; 
        }
    }
    .corn {
        width: 55px;
        height: 55px;
        display: block;
        margin: 0 auto 5px;
        background: url(../images/footbz.png) no-repeat top center transparent;
        }
}
#footer_credit .foot_link_mostmall{
    .corn {
        background-position: 0px 0px;
        }
}
#footer_credit .foot_link_quality {
    .corn {
        background-position: 0px -56px;
    } 
}
#footer_credit .foot_link_back {
    .corn {
        background-position: 0px -112px;
    }
}
#footer_credit .foot_link_depot {
    .corn {
        background-position: 0px -168px;
    }
}
#footer_credit .foot_link_consignment {
    .corn {
        background-position: 0px -224px;
    }
}
#footer_credit .foot_link_packaging {
    .corn {
        background-position: 0px -280px;
    }
}
#footer_credit .code-box {
    position: absolute;
    right: 0;
    top: 0;
    width: 218px;
    padding-left: 100px;
    height: 130px;
    background: url(../images/hand_mobile.jpg) no-repeat;
    font-size: 12px;
    color: #333;
}
#footer_credit .code-box div {
    float: left;
    margin: 13px 0 0 18px;
    width: 82px;
    height: 110px;
    cursor: default;
    position: relative;
    span {
        display: block;
        height: 28px;
        line-height: 28px;
        text-align: center;
    }
    .min {
        display: block;
        width: 82px;
        height: 82px;
        
    }
    .max {
    position: absolute;
    left: -41px;
    top: -180px;
    width: 160px;
    height: 160px;
    border: 2px solid #CCC;
    display: none;
}
}
 
    

//底部文字（关于我们)
#footer_copyright {
    text-align: center;
    line-height: 20px;
    padding-bottom: 20px;
    color: #000;
    font: 12px/1.5 Arial;
    font-style: normal;
}
.footer_con {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .footer_copy_con{
        padding: 6.2px 0;
    }
}
.foot_lxwm {
    padding: 10px 0 0;
}#footer_copyright a {
    color: #333;
}
.foot_lxwm a {
    line-height: 28px;
    padding: 0 5px;
}
//底部四张图片
#bsgj1 {
    width: 604px;
    margin: 0 auto;
    padding: 3px 0 60px;
    img{
        border: none;
        display: block;
    }
}
//最后一部分（认证）
.wangzhanlianmeng {
    width: 600px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 30px;
    a{
        display: inline-block;
        width: 100px;
        height: 40px;
        margin: 0 10px;
        padding: 0;
        img{
            width: 100px;
            height: 40px;
            display: block;
            border: none;
        }
    }
    a.aq-hide {
    display: none;
}
}